* {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.clearfix:after {
	content: " ";
	/*	height: 0;*/
	clear: both;
	display: block;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.wd {
	width: 1190px;
}
.container{
	width: 1170px;
	margin:0 auto;
}
